<h3>Recipes</h3>

<a routerLink="/recipes/add">Add new</a><br />
<label for="">Name</label>
<input type="text" name="name" [(ngModel)]="search.name" (keypress)="loadRecipes()" />
<input type="button" (click)="loadRecipes()" value="Search" />

<table class="table table-condesed table-hover">
    <thead>
        <tr>
            <th>Index</th>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of recipes; let idx = index">
            <td>{{idx}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td><input type="button" (click)="view(item.id)" value="View"/></td>
        </tr>
    </tbody>
</table>
Current page: {{page}}
<div class="row">
    <div class="col-sm-6">
        <button type="button" (click)="prev()"  class="btn btn-default">Prev</button>
        <button type="button" (click)="next()"  class="btn btn-primary">Next</button>
    </div>
</div>