<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger" *ngIf="errMsg">
            {{errMsg}}
        </div>
    </div>
    <div class="col-sm-6">
        <i class="fa fa-lock fa-5x" aria-hidden="true"></i>
    </div>
    <div class="col-sm-6">
        <div class="form-group">

            <label for="user">User</label>
            <input type="text" name="user" id="user" class="form-control" [(ngModel)]="user" />

        </div>
        <div class="form-group">
            <label for="pass">Pass</label>
            <input type="password" name="user" id="user" class="form-control" [(ngModel)]="pass" />
        </div>

        <div class="form-group">
            <input type="button" value="Submit" class="btn btn-primary" (click)="doLogin()" />
        </div>
    </div>
</div>